<h1>Bem vindo à Juno!</h1>
{% if not user.is_authenticated %}
<a href="/acesso/login">Login</a>
<a href="/acesso/signin">Signin</a>
{% else %}
<a href="/acesso/logout">Logout</a>

<p>Entidades</p>
<a href="pessoa/retrieval">Pessoa</a><br>
<a href="instituto/retrieval">Instituto</a><br>
<a href="departamento/retrieval">Departamento</a><br>
<a href="usuario/retrieval">Usuário</a><br>
<a href="perfil/retrieval">Perfil</a><br>
<a href="servico/retrieval">Serviço</a><br>
<a href="aluno/retrieval">Aluno</a><br>
<a href="curso/retrieval">Curso</a><br>
<a href="disciplina/retrieval">Disciplina</a><br>
<a href="administrador/retrieval">Administrador</a><br>
<a href="professor/retrieval">Professor</a><br>
<a href="enfase/retrieval">Ênfase</a><br>
<a href="modulo/retrieval">Módulo</a><br>

<p>Relacionamentos</p>
<a href="funcao/retrieval">Função</a><br>
<a href="acesso/retrieval">Acesso</a><br>
<a href="permicao/retrieval">Permição</a><br>
<a href="cursa/retrieval">Cursa</a><br>
<a href="administra/retrieval">Administra</a><br>
<a href="prerrequisito/retrieval">Prerrequisito</a><br>
<a href="ministra/retrieval">Ministra</a><br>
<a href="pertence/retrieval">Pertence</a><br>
<a href="planeja/retrieval">Planeja</a><br>
<a href="matricula/retrieval">Matricula</a><br>
<a href="professor-departamento/retrieval">Professor-Departamento</a><br>
<a href="departamento-instituto/retrieval">Departamento-Instituto</a><br>
<a href="disciplina-departamento/retrieval">Disciplina-Departamento</a><br>
<a href="enfase-modulo/retrieval">Ênfase-Módulo</a><br>
<a href="curso-enfase/retrieval">Curso-Ênfase</a><br>

<p> Agregações </p>
<a href="oferecimento/retrieval">Oferecimento</a><br>

{% endif %}
