<h1>Bem vindo à Juno!</h1>
<a href="/acesso/login">Login</a>
<a href="/acesso/signin">Signin</a>
<a href="/acesso/logout">Logout</a>

<p>Entidades</p>
<a href="pessoa/retrival">Pessoa</a><br>
<a href="instituto/retrival">Instituto</a><br>
<a href="departamento/retrival">Departamento</a><br>
<a href="usuario/retrival">Usuário</a><br>
<a href="perfil/retrival">Perfil</a><br>
<a href="servico/retrival">Serviço</a><br>
<a href="aluno/retrival">Aluno</a><br>
<a href="curso/retrival">Curso</a><br>
<a href="disciplina/retrival">Disciplina</a><br>
<a href="administrador/retrival">Administrador</a><br>
<a href="professor/retrival">Professor</a><br>
<a href="enfase/retrival">Ênfase</a><br>
<a href="modulo/retrival">Módulo</a><br>

<p>Relacionamentos</p>
<a href="funcao/retrival">Função</a><br>
<a href="acesso/retrival">Acesso</a><br>
<a href="permicao/retrival">Permição</a><br>
<a href="cursa/retrival">Cursa</a><br>
<a href="administra/retrival">Administra</a><br>
<a href="prerrequisito/retrival">Prerrequisito</a><br>
<a href="ministra/retrival">Ministra</a><br>
<a href="pertence/retrival">Pertence</a><br>
<a href="planeja/retrival">Planeja</a><br>
<a href="matricula/retrival">Matricula</a><br>
<a href="professor-departamento/retrival">Professor-Departamento</a><br>
<a href="departamento-instituto/retrival">Departamento-Instituto</a><br>
<a href="disciplina-departamento/retrival">Disciplina-Departamento</a><br>
<a href="enfase-modulo/retrival">Ênfase-Módulo</a><br>
<a href="curso-enfase/retrival">Curso-Ênfase</a><br>

<p> Agregações </p>
<a href="oferecimento/retrival">Oferecimento</a><br>
